<h2>
	<?php echo $chapter['Chapter']['name']; ?>
	<a href="/chapters/edit/<?php echo $chapter['Chapter']['id']; ?>">Edit</a>
</h2>

<h3><?php echo $chapter['Story']['name']; ?></h3>

<p>
	<?php echo $this->Slugger->apply( $chapter['Chapter']['body'] ); ?>
</p>

