/* CSS Document */
* { 
	margin:0; 
	padding:0 
}

body { 
	font-family:arial;
	font-size:12px;
}

h1  {
	display:none;
}

h2 {
	font-size:16px;
	margin-bottom:10px;
}

h2 a, .button { 
	margin-left:20px;
	background:#EEE;
	border:1px solid #DDD;
	border-radius:4px;
	padding:2px 4px;
	text-decoration:none !important;
}

h2 a:hover, .button:hover { 
	background:#DDD;
}

h3 {
	font-size:14px;
	margin-bottom:10px;
}


p {
	margin-bottom:10px;
}

p label {
	display:block;
	width: 150px;
	float:left;
	font-weight:bold;
}

a { 
	color:#363;
	font-weight:bold;
	text-decoration:none;
}
a:hover { 
	text-decoration:underline;
}

header { 
	background:#444;
	height:20px;
	padding:20px;
	display:block;

}

nav {
	height:20px;
}
nav a {
	display:block;
	float:left;
	padding-right:60px;	
	color:white;
	text-transform:uppercase;
	font-size:14px;
}

nav a.right  {
	float:right;
	padding-right:0px;
}

.clearfix {
	clear:both;
}

#content { 
	padding:20px;
}

form label {
	display:block;
	padding:10px 0;
	clear:both;
}

form input, form select, form textarea{
	width:100%;
	padding:10px 0;
	margin-bottom:10px;
}

form .date select{
	width:20%;
	float:left;
	padding:10px 0;
	margin-right:10px;
}

form input[type=submit]{
	width:200px;
}

#properties {
	display:none;
	background:#FFF;
	position:fixed;
	right:0px;
	top:0px;
	width:400px;
	border-left:2px solid #999;
	height:100%;
	overflow:hidden;
	z-index:2;
}

#properties .close {
	background:url(/img/cake.icon.png) no-repeat 20px 5px;
	display:block;
	width:100%;
	height:30px;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
}

#properties_data {
	padding:20px;
}

#storymap { 
	background:#eee; 
	height:600px; 
	width:100%; 
	border:#000 solid 1px; 
	position:relative; 
	margin-bottom:20px;
}

#storymap .chapter { 
	background:#ddd; 
	max-height:600px; 
	width:150px; 
	padding:5px; 
	position:absolute; 
}

#storymap .chapter  .dragarea{ 
	background:#FE9;
	height:20px;
	cursor:move;
}

#storymap .chapter.complete  .dragarea{ 
	background:#CF8;
}

#storymap .chapter  p{ 
	font-size:12px;
	margin:5px 0 24px;
}

#storymap .chapter  .complete{ 
	position:absolute;
	right:5px;
	bottom:5px;
}

#storymap .chapter  .more{ 
	position:absolute;
	left:5px;
	bottom:5px;
}

ul.timeline {
	list-style:none;
	width:100%;
}

ul.timeline li {
	padding: 10px;
}

ul.timeline li label {
	width:200px;
	float:left;
}

ul.timeline li p {
	margin:10px 10px 0;
	font-style:italics;
	color:#666;
}

ul.index {
	list-style:none;
	width:100%;
}

ul.index li {
	padding: 10px;
}

ul.linear {
	list-style:none;
	height:40px;
	width:100%;
}
ul.linear li {
	padding:10px 60px 10px 10px;
	float:left;
}



/* CHARACTER */
.character_sheet {
	padding:10px;
	border:2px solid #000;
	border-radius:10px;
	max-width:800px;
	min-width:636px;
}

.character_sheet input[type=text]{
	float:right;
	width:150px;
	color:#999;	
}

.character_sheet>div {
	clear:both;
	padding:10px;	
	height:100%;
	border-bottom:2px solid #000;
}

.character_sheet div ul {
	float:left;
	width:30%;
	min-width:100px;
	padding:10px;
}

.character_sheet div ul li {
	display:block;
	height:20px;
	padding:0 0 5px; 
	min-width:182px;
}

.character_sheet div ul li input[type=button] {
	float:right;
	width:104px;
	height:20px;
	padding:10px;
	border:none;
	cursor:pointer;
	background:url(/img/level_dots_0.png) no-repeat right;
	font-size:0;
}
.character_sheet div ul li input.value_0 { background-image: url(/img/level_dots_0.png) }
.character_sheet div ul li input.value_1 { background-image: url(/img/level_dots_1.png) }
.character_sheet div ul li input.value_2 { background-image: url(/img/level_dots_2.png) }
.character_sheet div ul li input.value_3 { background-image: url(/img/level_dots_3.png) }
.character_sheet div ul li input.value_4 { background-image: url(/img/level_dots_4.png) }
.character_sheet div ul li input.value_5 { background-image: url(/img/level_dots_5.png) }
.character_sheet div ul li input.value_6 { background-image: url(/img/level_dots_6.png) }
.character_sheet div ul li input.value_7 { background-image: url(/img/level_dots_7.png) }
.character_sheet div ul li input.value_8 { background-image: url(/img/level_dots_8.png) }

/* 2D6 Character */

.character_sheet_2d6 {
	border:2px solid #000;
	border-radius:5px;
	padding:20px;
	min-width:380px;
}
.character_sheet_2d6 .about {
	height:20px;
}
.character_sheet_2d6 .about li{
	width:33%;
	float:left;
}
.character_sheet_2d6 h2 {
	text-transform:uppercase;
	background:#DDD;
	margin:20px 10px 10px;
	text-align:center;
}
.character_sheet_2d6 li { 
	display:block;
	height:20px;
	padding:0 0 5px;
	list-style:none; 
}
.character_sheet_2d6 #left_col {
	float:left;
	width:50%;
}

.character_sheet_2d6 #right_col {
	float:left;
	width:50%;
	min-height:80px;
}

.character_sheet_2d6 .add input {
	margin-left:10px;
	width:80%;
}
.character_sheet_2d6 .add a {
	width:10%;
	float:right;
}

.character_sheet_2d6 ul li input[type=button] {
	float:right;
	width:112px;
	height:20px;
	padding:10px;
	border:none;
	cursor:pointer;
	background:url(/img/level_score_0.png) no-repeat right;
	margin-right:20px;
	font-size:0;
}
.character_sheet_2d6 ul li input.value_-2 { background-image: url(/img/level_score_-2.png) }
.character_sheet_2d6 ul li input.value_-1 { background-image: url(/img/level_score_-1.png) }
.character_sheet_2d6 ul li input.value_0 { background-image: url(/img/level_score_0.png) }
.character_sheet_2d6 ul li input.value_1 { background-image: url(/img/level_score_1.png) }
.character_sheet_2d6 ul li input.value_2 { background-image: url(/img/level_score_2.png) }
.character_sheet_2d6 ul li input.value_3 { background-image: url(/img/level_score_3.png) }
.character_sheet_2d6 ul li input.value_4 { background-image: url(/img/level_score_4.png) }
.character_sheet_2d6 ul li input.value_5 { background-image: url(/img/level_score_5.png) }

/* Columns */

.columns_indent {
	position:relative;
}

.columns_indent .column_small {
	position:absolute;
	width:120px;
}

.columns_indent .column_large {
	padding-left:130px;
}

.character_sheet div ul li select {
	width:125px;
}

.session {
	padding:10px;
	box-shadow:0 0 10px #000;
}

.session ul.players li{
	padding:10px 0;
	list-style:none;
}

.session ul.players li>div {
	float:right;
	height:16px;
	width:16px;
}

.session .attending { background:#4F6; }
.session .pending { background:#999; }
.session .notattending { background:#F40; }

/* Calendar */
#calendar { 
	width:532px;
	padding:10px;
	min-height:361px;
	margin:10px 0;
}

#calendar div.nav { 
	width:100%;
	padding:5px;
	height:22px;
}

#calendar div.nav a, #calendar div.nav h3 { 
	float:left;
	width:432px;
	height:16px;
	text-align:center;
}

#calendar div.nav a {
	cursor:pointer;
	width:50px;
}

#calendar li { 
	width:70px;
	height:70px;
	border:1px solid #000;
	padding:2px;
	float:left;
	list-style:none;
	position:relative;
	background:#ffe;
	overflow:hidden;
}

#calendar li.blank { 
	background:none;
	border:none;
	width:72px;
	height:72px;
}

#calendar li.header { 
	height:16px;
	background:#fec;
	text-align:center;
}

#calendar li:hover { 
	background:#FF9;
}

/* Paragraphs */
.paragraph {
	list-style:none;
	background:#EEF;
	padding:10px;
	border-radius:5px;
	border:1px solid #DDF;
	margin-bottom:10px;
}

.paragraph  p {
	background:#FFF;
	padding:5px;
	margin:0;
	border-radius:5px;
	border:1px solid #DDF;
	line-height:150%;
	min-height:14px;
}

.paragraph  textarea {
	background:#FFF;
	padding:5px;
	width:100%;
	margin-bottom:10px;
	border-radius:5px;
	border:1px solid #DDF;
}

.paragraph .controls {
	margin:0;
	height:24px;
}

.paragraph .controls a { 
	background:#363;
	padding:5px;
	margin:0 0 0 5px;
	border-radius:5px;
	width:100px;
	text-align:center;
	color:white;
	cursor:pointer;
	float:left;
}

.paragraph .controls a:first-child {
	margin-left:0; 
}

.filter {
	margin-bottom:10px;
}
.filter label { 
	display:block;
	height:25px;
	margin-bottom:5px;
	
}

.filter input {
	width:300px;
	padding:5px;
	margin-bottom:10px;
}
.filter  .submit { 
	float:left;
	background:#363;
	padding:5px;
	margin:0;
	border-radius:5px;
	width:100px;
	text-align:center;
	color:white;
	cursor:pointer;
	display:block;
}

.filter  #clear.submit { 
	margin-left:10px;
}

.colm {
	width:100%;
}
.colm .left_colm{
	float:left;
	width:300px;
	margin-right:10px;
}
.colm .right_colm{
	padding-left:310px;
}

#modal {
	position: fixed;
	width:100%;
	height:100%;
	top:0;
	background:RGBA(0,0,0,0.2);
}

#modal .modal_panel {
	background:#EEE;
	width:300px;
	padding:20px;
	margin:100px auto 0;
}

#modal .modal_panel a{
	float:left;
	width:80px;
	text-align:center;
	padding: 10px;
	background:#363;
	color: #FFF;
	cursor:pointer;
	margin-left:20px;
}
#modal .modal_panel a:first-child{
	margin-left:0;
}