<h3>
	<?php echo $prop['Prop']['name']; ?>
	<a class="button" href="/props/edit/<?php echo $prop['Prop']['id']; ?>">Edit</a>
	<a class="button" href="/props/delete/<?php echo $prop['Prop']['id']; ?>" onclick="return link_warning(this);">Delete</a>
</h3>

<p>
	<?php echo $this->Slugger->apply( $prop['Prop']['description'] ); ?>
</p>