<h2>
	Stories
	<a href="/stories/add" >
		Add
	</a>
</h2>

<?php if ( !empty ( $stories ) ) { ?>
<ul class="index">
	<?php foreach ( $stories as $story ) { ?>
	<li>
		<a href="/stories/view/<?php echo $story['Story']['id']; ?>" >
			<?php echo $story['Story']['name']; ?>
		</a> - 
		
		<a href="/stories/edit/<?php echo $story['Story']['id']; ?>" >
			Edit
		</a>
	</li>
	<?php } ?>
</ul>
<?php } ?>

