<div class="next_session">
	<h2>Next Session</h2>
	<h3><?php echo date('dS F Y'); ?></h3>
	
	<ul class="players">
		<li>Bealze <div class="attending"></div></li>
		<li>Bob <div class="pending"></div></li>
		<li>Darkonesluck <div class="pending"></div></li>
		<li>Deviljam <div class="notattending"></div></li>
		<li>Wuffington <div class="pending"></div></li>
	</ul>
</div>

<ul id="calendar">
	<div title="2012-01-18">
		<a class="slug" href="/props/view/1">Hello</a>
	<div>
</ul>

<script src="/js/calendar.js" type="text/javascript"></script>